* {
  margin: 0;
  text-decoration: none;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.container {
  max-width: 1366px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

@font-face {
  font-family: "Rubik";
  src: url(../fonts/Rubik-Regular.ttf);
}
@font-face {
  font-family: "RubikVinyl";
  src: url(../fonts/RubikVinyl-Regular.ttf);
}
.nav {
  padding: 24px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 36px;
}
.nav__list--item a {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
}
.nav__burger {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 36px;
  }
}
@media screen and (max-width: 576px) {
  .nav {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .nav__list {
    position: absolute;
    top: 90px;
    display: none;
    transform: translateX(-1000%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: all 2s ease;
    gap: 36px;
    background-color: #2d2d2d;
    height: 100vh;
    width: 100vw;
    right: -20px;
    z-index: 11111111;
  }
  .nav__list--item a {
    font-size: 24px;
  }
  .nav .list1 {
    transform: translateX(0);
    transition: all 2s ease;
  }
  .nav__burger {
    display: block;
    position: relative;
    z-index: 11111111111;
  }
  .nav__logo {
    z-index: 1111111111;
  }
}
.border {
  border: 1px solid #7c7c7c;
}

@media screen and (max-width: 400px) {
  .nav__list {
    width: 120vw;
    left: -50px;
  }
}
.reduce {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 34px;
  padding-bottom: 50px;
}
.reduce__title {
  max-width: 703px;
  width: 100%;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 122.5%;
  color: #fff;
}
.reduce .leni {
  color: #00D5E4;
}
.reduce__text {
  max-width: 585px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 126%;
  color: #fff;
}
.reduce .fon-nav {
  position: absolute;
  right: -100px;
  z-index: -1;
  top: 0px;
}

.fon-nav1 {
  display: none;
}

@media screen and (max-width: 768px) {
  .reduce {
    padding-bottom: 130px;
    position: relative;
    left: 20px;
  }
  .reduce__text {
    position: absolute;
    top: 280px;
    left: 180px;
    padding-left: 60px;
  }
}
@media screen and (max-width: 576px) {
  .reduce {
    padding-bottom: 0px;
  }
  .reduce__text {
    position: static;
    padding-left: 0px;
  }
  .reduce__title {
    font-size: 30px;
  }
  .reduce__text {
    font-size: 16px;
  }
  .reduce .fon-nav {
    position: absolute;
    z-index: -1;
    top: 0px;
  }
}
@media screen and (max-width: 400px) {
  .reduce {
    padding-bottom: 0px;
  }
  .reduce__text {
    position: static;
    padding-left: 0px;
  }
  .reduce .fon-nav {
    display: none;
  }
  .reduce .fon-nav1 {
    display: block;
    position: absolute;
    right: 0px;
    top: -90px;
  }
}
.img {
  padding-top: 50px;
  padding-bottom: 84px;
  position: relative;
}
.img__png {
  width: 1000px;
  width: 100%;
  display: block;
}
.img__svg {
  max-width: 238px;
  position: absolute;
  top: -20px;
  left: 550px;
}

@media screen and (max-width: 768px) {
  .img__png {
    padding-left: 20px;
  }
  .img__svg {
    max-width: 181px;
    width: 100%;
    position: absolute;
    top: -50px;
    left: 20px;
  }
}
@media screen and (max-width: 576px) {
  .img__svg {
    max-width: 180px;
    width: 100%;
    position: absolute;
    top: 190px;
    left: 280px;
  }
}
@media screen and (max-width: 400px) {
  .img__svg {
    max-width: 120px;
    top: 150px;
    left: 220px;
  }
}
.device {
  padding-top: 50px;
  position: relative;
}
.device__title {
  max-width: 720px;
  text-align: center;
  margin: 0 auto;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 126%;
  text-align: center;
  color: #fff;
  padding-bottom: 30px;
}
.device__leni {
  color: #00D5E4;
}
.device__img {
  position: absolute;
  top: -320px;
  left: -245px;
}
.device__img1 {
  display: none;
}
.device__border {
  max-width: 430px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #00d5e4;
  margin-bottom: 10px;
}
.device__btn {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 126%;
  text-align: center;
  color: #00D5E4;
  background: transparent;
  border: none;
  max-width: 378px;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}
.device .ccl {
  position: relative;
  display: column;
}
.device .arrow {
  position: absolute;
  right: 440px;
  top: 18px;
}

@media screen and (max-width: 768px) {
  .device__btn {
    font-size: 14px;
  }
  .device .ccl {
    position: relative;
    display: column;
  }
  .device .arrow {
    position: absolute;
    right: 120px;
    top: 18px;
  }
}
@media screen and (max-width: 576px) {
  .device .ccl {
    position: relative;
    display: column;
  }
  .device .arrow {
    position: absolute;
    right: 20px;
    top: 18px;
  }
}
@media screen and (max-width: 400px) {
  .device__img {
    display: none;
  }
  .device__img1 {
    display: block;
    position: absolute;
    top: 0;
    left: -30px;
  }
}
@media screen and (max-width: 450px) {
  .device .ccl {
    position: relative;
    display: column;
  }
  .device .arrow {
    position: absolute;
    right: 0px;
    top: 18px;
  }
}
.bring-site {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bring-site__img img {
  max-width: 467px;
  width: 100%;
}

.bring {
  padding-top: 108px;
}
.bring__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 141.5%;
  color: #fff;
  max-width: 821px;
  padding-bottom: 15px;
}
.bring__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #fff;
  max-width: 645px;
  padding-bottom: 30px;
}
.bring__leni {
  color: #00D5E4;
  font-size: 26px;
}
.bring .grid-container {
  max-width: 742px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.bring .grid-item1 {
  grid-row: 1/5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.bring .grid-item1__text {
  padding-left: 20px;
  max-width: 222px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140.5%;
  color: #fff;
}
.bring .grid-item1__img {
  padding-bottom: 35px;
}
.bring .grid-item2 {
  grid-row: 1/5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.bring .grid-item3 {
  grid-row: 5/9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.bring .grid-item4 {
  grid-row: 5/9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

body {
  overflow-x: hidden;
  background-color: #575555;
}/*# sourceMappingURL=main.css.map */