.bring-site {
  @include flexfunction(row, center, space-between, wrap);
  &__img {
    img {
      max-width: 467px;
      width: 100%;
    }
    .fon--img {
      position: absolute;
      right: 0px;
    }
  }
}
.bring {
  padding-top: 108px;
  &__title {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 141.5%;
    color: $white-color;
    max-width: 821px;
    padding-bottom: 15px;
  }
  &__text {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: $white-color;
    max-width: 645px;
    padding-bottom: 30px;
  }
  &__leni {
    color: $span-coor;
    font-size: 26px;
  }
  .grid-container {
    max-width: 742px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid-item1 {
    grid-row: 1 /5;
    @include flexfunction(row, center, center, nowrap);
    &__text {
      padding-left: 20px;
      max-width: 222px;
      font-family: "Rubik";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140.5%;
      color: $white-color;
    }
    &__img {
      padding-bottom: 35px;
    }
  }
  .grid-item2 {
    grid-row: 1 / 5;
    @include flexfunction(row, center, center, wrap);
  }
  .grid-item3 {
    grid-row: 5 / 9;
    @include flexfunction(row, center, center, wrap);
  }
  .grid-item4 {
    grid-row: 5 / 9;
    @include flexfunction(row, center, center, wrap);
  }
}
@media screen and (max-width: 576px) {
  .bring {
    padding-top: 108px;
    &__title {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 900;
      font-size: 30px;
      line-height: 141.5%;
      color: $white-color;
      max-width: 821px;
      text-align: center;
      padding-bottom: 15px;
    }
    &__text {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      line-height: 120%;
      color: $white-color;
      max-width: 645px;
      padding-bottom: 30px;
    }
    &__leni {
      color: $span-coor;
      font-size: 26px;
    }
    .grid-container {
      display: block;
    }

    .grid-item1 {
      grid-row: 1 /5;
      @include flexfunction(row, center, center, nowrap);
      &__text {
        padding-left: 20px;
        max-width: 222px;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140.5%;
        color: $white-color;
      }
      &__img {
        padding-bottom: 35px;
      }
    }
    .grid-item2 {
      grid-row: 1 / 5;
      @include flexfunction(row, center, center, wrap);
    }
    .grid-item3 {
      grid-row: 5 / 9;
      @include flexfunction(row, center, center, wrap);
    }
    .grid-item4 {
      grid-row: 5 / 9;
      @include flexfunction(row, center, center, wrap);
    }
  }
}

.find {
  padding: 50px 80px;
  background: rgba(245, 245, 245, 0.04);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &__title {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 140%;
    color: $white-color;
    text-align: center;
    padding-bottom: 30px;
  }
  &__list {
    @include flexfunction(row, center, center, wrap);
    gap: 10px;
    &--item p {
      padding-bottom: 10px;
      font-family: "Rubik";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: $white-color;
      &:hover {
        color: $span-coor;
      }
    }
    .currency {
      position: relative;
      @include flexfunction(row, center, space-between, nowrap);
      width: 200px;
      background: #2d2d2d;
      border: 1px solid #f5f5f5;
      padding-left: 14px;
      padding-top: 14px;
      padding-right: 20px;
      &:hover {
        background-color: $span-coor;
      }
    }
    .currency1 {
      position: relative;
      @include flexfunction(row, center, space-between, nowrap);
      width: 200px;
      background: #2d2d2d;
      border: 1px solid #f5f5f5;
      padding-left: 14px;
      padding-top: 14px;
      padding-right: 20px;
      &:hover {
        background-color: $span-coor;
      }
    }
  }

  .click__list {
    position: absolute;
    left: 0px;
    transform: translateX(-1000%);
    transition: all 1s ease;
    gap: 10px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: $white-color;
    background: $bg-color;
    border-radius: 5px;
    padding: 5px 70px;
    &:hover {
      color: $white-color;
      background: #00d5e4;
    }
  }
  .click__list1 {
    transform: translateX(0);
    transition: all 1s ease;
  }
}
