.bring-site {
  @include flexfunction(row, center, space-between, wrap);
  &__img {
    img {
      max-width: 467px;
      width: 100%;
    }
  }
}
.bring {
  padding-top: 108px;
  &__title {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 141.5%;
    color: $white-color;
    max-width: 821px;
    padding-bottom: 15px;
  }
  &__text {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: $white-color;
    max-width: 645px;
    padding-bottom: 30px;
  }
  &__leni {
    color: $span-coor;
    font-size: 26px;
  }
  .grid-container {
    max-width: 742px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid-item1 {
    grid-row: 1 /5;
    @include flexfunction(row, center, center, nowrap);
    &__text {
      padding-left: 20px;
      max-width: 222px;
      font-family: "Rubik";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140.5%;
      color: $white-color;
    }
    &__img {
      padding-bottom: 35px;
    }
  }
  .grid-item2 {
    grid-row: 1 / 5;
    @include flexfunction(row, center, center, wrap);
  }
  .grid-item3 {
    grid-row: 5 / 9;
    @include flexfunction(row, center, center, wrap);
  }
  .grid-item4 {
    grid-row: 5 / 9;
    @include flexfunction(row, center, center, wrap);
  }
}
@media screen and (max-width: 576px) {
  .bring {
    padding-top: 108px;
    &__title {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 900;
      font-size: 45px;
      line-height: 141.5%;
      color: $white-color;
      max-width: 821px;
      padding-bottom: 15px;
    }
    &__text {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 120%;
      color: $white-color;
      max-width: 645px;
      padding-bottom: 30px;
    }
    &__leni {
      color: $span-coor;
      font-size: 26px;
    }
    .grid-container {
      max-width: 742px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      flex-wrap: wrap;
    }

    .grid-item1 {
      grid-row: 1 /5;
      @include flexfunction(row, center, center, nowrap);
      &__text {
        padding-left: 20px;
        max-width: 222px;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140.5%;
        color: $white-color;
      }
      &__img {
        padding-bottom: 35px;
      }
    }
    .grid-item2 {
      grid-row: 1 / 5;
      @include flexfunction(row, center, center, wrap);
    }
    .grid-item3 {
      grid-row: 5 / 9;
      @include flexfunction(row, center, center, wrap);
    }
    .grid-item4 {
      grid-row: 5 / 9;
      @include flexfunction(row, center, center, wrap);
    }
  }
}
